*.dSYM
*.class
.DS_Store
arrays
bin
chartoString
enumerate
getAges
int_to_float_lose_precision
localtime
malloc
parsingDclaration
producerConsumer
showMatrix
sizeof
stringtochar
sudoku
threadQueue
transformStr
ResponsibilityChain
abstractFactory
adapter
bridge
builder
command
composite
decorator
facade
factory
flyweight
interpreter
iterator
mediator
memento
observer
prototype
singleton
state
template
visitor
shellSort

