*.dSYM
*.class
bin
enumerate
getAges
localtime
malloc
sizeof
sudoku
ResponsibilityChain
abstractFactory
adapter
bridge
builder
command
composite
decorator
facade
factory
flyweight
interpreter
iterator
mediator
memento
observer
prototype
singleton
state
template
visitor
shellSort
